<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>
    <main class="about-container">
      <h1 class="about-header">
        An
        <span class="title">
          <a href="" class="page-link">Open Source</a> Pok&eacute;Dex</span
        >
      </h1>
      <ul class="info">
        <li>Built using HTML, CSS, and JavaScript</li>
        <li>
          Data and images provided by the
          <a href="https://pokeapi.co/" class="page-link" target="_blank"
            >PokeAPI</a
          >
        </li>
      </ul>
    </main>
  </body>
</html>
